In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [22]:
row = 5
for i in range (1,row+1,1):
    for j in range(1,i+1):
        print(j, end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
num = int(input("Enter a number: "))
total=0
for i in range(0,num,1):
    i+=1
    total= total + i
print(total)

Enter a number: 10
55

In [14]:
num = int(input("Enter a number: "))
prod = 0
for i in range(0,10,1):
    i+=1
    prod = num * i
    print(prod)

Enter a number: 2
2
4
6
8
10
12
14
16
18
20

In [23]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for n in numbers:
    if n > 500:
        break
    if n > 150:
        continue
    if n%5== 0:
        print(n)

75
150
145

In [24]:
n = 75869
counter = 0
while n != 0:
    n = n//10
    counter +=1
print(counter)

5

In [41]:
row = int(input("Give number of row : "))
k = row
for i in range(0,row+1):
    for j in range(k-i,0,-1):
        print(j, end=' ')
    print("")

Give number of row : 8
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [42]:
list1 = [10, 20, 30, 40, 50]
print(list1[::-1])

[50, 40, 30, 20, 10]

In [43]:
list1 = [10, 20, 30, 40, 50]
for i in list1[::-1]:
    print(i)

50
40
30
20
10

In [44]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [48]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [57]:
start = 25
end = 50
for n in range(start,end+1):
    if n > 1:
        for m in range(2,n):
            if n%m == 0:
                break
        else:
            print(n)

29
31
37
41
43
47

In [68]:
# fibobacci numbers

num1,num2 =0,  1
for i in range(10):
    print(num1, end=" ")
    num = num1 + num2
    num1= num2
    num2= num

0 1 1 2 3 5 8 13 21 34

In [67]:
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [75]:
num = int(input("Enter a number: "))
factorial = 1
for i in range(1,num,1):
    i+=1
    factorial= factorial* i
print(factorial)

Enter a number: 6
720

In [84]:
def factorial_of_num(): 
    num = int(input("Give a number: "))
    factorial = 1
    if num < 0:
        print("Factorial does not exist for negative numbers")
    elif num == 0:
        print("The factorial of 0 is 1")
    else:
        # run loop 5 times
        for i in range(1, num + 1):
            # multiply factorial by current number
            factorial = factorial * i
            
        return(factorial)

In [106]:
factorial_of_num()

Give a number: 6

720

In [91]:
num = 76542
while num > 0:
    reverse = num%10
    num = num//10
    print(reverse,end="")

24567

In [94]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [97]:
num = int(input("Give a number: "))
for i in range(1,num+1):
    num = i**3
    print("The cube of ", i,"is ", num)

Give a number: 6
The cube of  1 is  1
The cube of  2 is  8
The cube of  3 is  27
The cube of  4 is  64
The cube of  5 is  125
The cube of  6 is  216

In [133]:
n = 2
suite = 0

for i in range(0,5):
    print(n, end="+")
    suite += n
    n = n*10 + 2
    
print("\nSum of above series is:", suite)

2+22+222+2222+22222+
Sum of above series is: 24690

In [136]:
row = 7
for i in range (1,row+1,1):
    for j in range(1,i+1):
        print("*", end=" ")
    print("")
for i in range(0,row+1):
    for j in range(k-i,0,-1):
        print("*", end=' ')
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
import time
import os

def clear():
    os.system('cls' if os.name == 'nt' else 'clear')

for i in range(0,20):
    print('\n\n\n')
    print(' '*i + '*')
    time.sleep(0.1)
    clear()

*




 *




  *




   *




    *




     *




      *




       *




        *




         *




          *




           *




            *




             *




              *




               *




                *




                 *




                  *




                   *