In [1]:
def factorial(x):
    """This function returns the factorial of a given number."""
    return x

# access doc string
print(factorial.__doc__)

This function returns the factorial of a given number.

In [2]:
print(help(factorial))

Help on function factorial in module __main__:

factorial(x)
    This function returns the factorial of a given number.

None

In [3]:
def is_even(list1):
    even_num = []
    for n in list1:
        if n % 2 == 0:
            even_num.append(n)
    # return a list
    return even_num

# Pass list to the function
even_num = is_even([2, 3, 42, 51, 62, 70, 5, 9])
print("Even numbers are:", even_num)

Even numbers are: [2, 42, 62, 70]

In [4]:
def arithmetic(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    multiply = num1 * num2
    division = num1 / num2
    # return four values
    return add, sub, multiply, division

# read four return values in four variables
a, b, c, d = arithmetic(10, 2)

print("Addition: ", a)
print("Subtraction: ", b)
print("Multiplication: ", c)
print("Division: ", d)

Addition:  12
Subtraction:  8
Multiplication:  20
Division:  5.0

In [7]:
def addition(num1, num2):
    # Implementation of addition function in comming release
    # Pass statement 
    pass

addition(10, 2)

In [8]:
def function1():
    # local variable
    loc_var = 888
    print("Value is :", loc_var)

def function2():

    print("Value is :", loc_var)

function1()
function2()

Value is : 888

NameError: name 'loc_var' is not defined

In [10]:
# Global variable
global_var = 5

def function1():
    print("Value in 1st function :", global_var)

def function2():
    # Modify global variable
    # function will treat it as a local variable
    global_var = 555
    print("Value in 2nd function :", global_var)

def function3():
    print("Value in 3rd function :", global_var)

function1()
function2()
function3()

Value in 1st function : 5
Value in 2nd function : 555
Value in 3rd function : 5

In [11]:
# Global variable
x = 5

# defining 1st function
def function1():
    print("Value in 1st function :", x)

# defining 2nd function
def function2():
    # Modify global variable using global keyword
    global x
    x = 555
    print("Value in 2nd function :", x)

# defining 3rd function
def function3():
    print("Value in 3rd function :", x)

function1()
function2()
function3()

Value in 1st function : 5
Value in 2nd function : 555
Value in 3rd function : 555

In [12]:
def outer_func():
    x = 777

    def inner_func():
        # local variable now acts as global variable
        nonlocal x
        x = 700
        print("value of x inside inner function is :", x)

    inner_func()
    print("value of x inside outer function is :", x)

outer_func()

value of x inside inner function is : 700
value of x inside outer function is : 700

In [13]:
#keyword argument

def message(name, surname):
    print("Hello", name, surname)

message(name="John", surname="Wilson")
message(surname="Ault", name="Kelly")

Hello John Wilson
Hello Kelly Ault

In [15]:
# function with default argument
def message(name="Guest"):
    print("Hello", name)

# calling function with argument
message("John")

# calling function without argument
message()

Hello John
Hello Guest

In [16]:
def addition(*numbers):
    total = 0
    for no in numbers:
        total = total + no
    print("Sum is:", total)


# 0 arguments
addition()

# 5 arguments
addition(10, 5, 2, 5, 4)


# 3 arguments
addition(78, 7, 2.5)

Sum is: 0
Sum is: 26
Sum is: 87.5

In [17]:
def factorial(no):
    if no == 0:
        return 1
    else:
        return no * factorial(no - 1)

print("factorial of a number is:", factorial(8))

factorial of a number is: 40320

In [18]:
# Lambda function vs normal function
def even_numbers(nums):
    even_list = []
    for n in nums:
        if n % 2 == 0:
            even_list.append(n)
    return even_list

num_list = [10, 5, 12, 78, 6, 1, 7, 9]
ans = even_numbers(num_list)
print("Even numbers are:", ans)

Even numbers are: [10, 12, 78, 6]

In [19]:
l = [10, 5, 12, 78, 6, 1, 7, 9]
even_nos = list(filter(lambda x: x % 2 == 0, l))
print("Even numbers are: ", even_nos)

Even numbers are:  [10, 12, 78, 6]

In [21]:
from functools import reduce
list1 = [20, 13, 4, 8, 9]
add = reduce(lambda x, y: x+y, list1)
print("Addition of all list elements is : ", add)

Addition of all list elements is :  54

In [37]:
def identity(name,age):
    print("My name is ", str(name), "I'm ",age)
    return name,age

In [43]:
name = input("What is your name? ")
age = int(input("how old are you? "))
identity(name,age)

What is your name? Esperance
how old are you? 27
My name is  Esperance I'm  27

('Esperance', 27)

In [66]:
def data_set(*args):
    for i in args:
        print(i)
    
    

data_set(2,3,4,5)

2
3
4
5

In [73]:
def calculation(n1,n2):
    addition = n1 + n2
    sub = n1 - n2
    return addition,sub

In [76]:
res = calculation(43,34)
print(res)

(77, 9)

In [75]:
def calculation(a, b):
    return a + b, a - b

# get result in tuple format
# unpack tuple
add, sub = calculation(40, 10)
print(add, sub)

50 30

In [77]:
def showEmployee(name,salary=9000):
    print(name,salary)
    
showEmployee("Ben", 12000)
showEmployee("Jessa")

Ben 12000
Jessa 9000

In [5]:
def calculate(a,b):
    square = a**2
    def addition(a,b):
        return a+b
    add = addition(a,b)
    return add+5

result = calculate(5,6)
print(result)

16

In [16]:
def additions(a,b):
    addition = 0
    for i in range(a,b):
        addition +=i
    print(addition)

In [17]:
additions(0,11)

55

In [29]:
def display_student(name, age):
    print(name, age)

display_student("Emma", 26)

show_student = display_student 
show_student("Esp",26)

Emma 26
Esp 26

In [67]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [68]:
x = [4, 6, 8, 24, 12, 2]
m = max(x)
print(m)

24

In [69]:
def large_finder(n):

    large=n[0]


    for i in  n:

        if large<i:

            large=i


    return large


l=[1,2,3,4,5,55,33,99,5]

print(f"largest {large_finder(l)}")

largest 99

In [70]:
def y():

    z = max(x)


    print(z)


y()

24

In [71]:
def recursive(n):

    count = 0

    for i in range(n+1):

        count += i

    print(count)


recursive(10)

55

In [72]:
def list_largest (list_num):

    max_num = max(list_num)

    return max_num


list_num = [5,14,25,2,-1,89]

highest_num=list_largest(list_num)

print(f"highest number from the list {list_num} is = {highest_num}")

print("*"*50)

highest number from the list [5, 14, 25, 2, -1, 89] is = 89
**************************************************

In [76]:
x = [5,68,4,27,28]

x.sort()
print(x[-1])

68

In [77]:
result = list(filter(lambda number: number%2==0, range(4,40+1)))
print(result)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [78]:
s = range(6,30,2)

n = list(filter(lambda x:x%2==0,s))

print(n)

[6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [79]:
# function that returns de biggest number between two
def max_of_two( x, y ):
    if x > y:
        return x
        print(x)
    return y
# function that return the biggest number between the 3
def max_of_three( x, y, z ):
    
    return max_of_two( x, max_of_two( y, z ) ) #return the first function, with new arguments where the first function is assigned as the 2 last arguments
print(max_of_three(3, 6, -5))

6

In [80]:
def recursive_fun(x):
    addition = 0
    for i in range(1, x+1):
        addition = addition + i
    
    return addition
resu = recursive_fun(10)
print(resu)

55

In [81]:
def find_largest_item(list):
    if len(list) == 0:
        print('error: empty list')
    else:
        #y is the first element in the list
        y = list[0]
        for x in list:
            if x > y:
                y = x
            else:
                continue
        print(y)

In [83]:
def outer_function(a,b):
    def inner_function():
        add = a + b
        return add
    return inner_function() + 5

print(outer_function(2,3))

10

In [84]:
def func(a,b):
    def same(func):
        return a+b
    return a+b+5
print(func(2,3))

10

In [85]:
class Person:
    def init(self, name,age):
        self.name = name
        self.age = age

    def show(self):
        print(f"I am {self.name} and I am {self.age} years old")

class person1(Person):
    def init(self, name,age):
        super().init(name, age)

class person2(Person):
    def init(self, name, age):
        super().init(name, age)

p1 = person1("Jarle", 19)
på1.show()
p2 = person2("Marius", 19)
p2.show()

TypeError: person1() takes no arguments

In [87]:
class Employee:
    def __init__(self, name, salary=9000):
        self.name = name
        self.salary = salary

Employee1 = Employee("Ben", 6900)
Employee2 = Employee("Jack")
print(Employee1.name, Employee1.salary)
print(Employee2.name, Employee2.salary)

Ben 6900
Jack 9000

In [89]:
#i want to help 
#this is the solution ,

def addEvenNumber(*n):
    evens = []
    for j in n:
        if j%2==0:
            evens.append(j)

    a = sum(evens)
            
    Sum = 0
    for i in evens:
        Sum+=i
    return Sum,a

res1,res2 = addEvenNumber(2,89,76,55,78,4,64,7,71,26)
print(res1,res2)

250 250

In [90]:
list1 = []
def addEvenNumber(*args):
    for i in args:
        if i % 2 == 0:
            list1.append(i)
    return list1, sum(list1)

res1, res2 = addEvenNumber(232,24,255,196,7,77,8,90)

print(res1)
print(res2)

[232, 24, 196, 8, 90]
550

In [91]:
List=[i*1 for i in range(2,30) if i%2==0]
print(List)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [95]:
def showEmployee(name, salary):
    default = 9000
    try:
        if salary == "": 
                print("Employee:", name, "Default salary is:", default)
        else:
                print("Employee:", name, "salary is:", int(salary))
    except Exception:
            print("Enter a number for salary")

giveName  = input("What's your name? ")
giveSal = input("What's your salary? ")
showEmployee(giveName, giveSal)

What's your name? Esperance
What's your salary?
Employee: Esperance Default salary is: 9000

In [96]:
for i in range(4,31):
    if i%2 == 0:
        print(i, end=' ')

4 6 8 10 12 14 16 18 20 22 24 26 28 30

In [97]:
def recursion (num):
    summ = 0
    for i in range(0,num):
        summ += i
        summ += 1
    print(summ)
recursion(10)

55

In [98]:
Even_nums = []
for x in range(4,30):
    if x%2==0:
        Even_nums.append(x)
print(Even_nums)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [104]:
def func(*args):
    add = 0
    for arg in args:
        for item in arg:
            if item> add:
                add=item
    return add
    
aList = [4, 6, 8, 24, 12, 2]
print(func(aList))

24

In [106]:
list = []
list_1 =[]
n = int(input("enter the total numbers inside list.:    "))
i = 1 
while(i <= n):
    num = int(input("enter the numbers you want to insert into list: "))
    i +=1
    list.append(num)
print(list, " <--the given list by you is here.\n ")
    
list.sort()
print(list)
print(max(list))

enter the total numbers inside list.:    9
enter the numbers you want to insert into list: 8
enter the numbers you want to insert into list: 9
enter the numbers you want to insert into list: 5
enter the numbers you want to insert into list: 3
enter the numbers you want to insert into list: 9
enter the numbers you want to insert into list: 23
enter the numbers you want to insert into list: 56
enter the numbers you want to insert into list: 34
enter the numbers you want to insert into list: 23
[8, 9, 5, 3, 9, 23, 56, 34, 23]  <--the given list by you is here.

[3, 5, 8, 9, 9, 23, 23, 34, 56]
56

In [107]:
def calculateSum(num):
    if num:
        return num + calculateSum(num-1)
    else: #why is there else here
        return 0

res = calculateSum(10)
print(res)

55

In [108]:
def calculateSum(num):
  result = 0
  while num != 0: 
    result = result + num
    num = num - 1
  return result

print(calculateSum(10))

55

In [109]:
alist = [4, 6, 8, 24, 12, 2]

def largest_number(l):
    max_number = l[0]
    for i in range(0, len(l)):
        if max_number < l[i]:
            max_number = l[i]
    print(max_number)

largest_number(alist) #called the function

24

In [128]:
def even():
    l=[]
    for i in range(4,31):
        if i%2 ==0:
            l.append(i)
    return l

print(even())

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [131]:
numList=[]
def PythonList(start, end):
    for x in range(start, end):
        if x % 2 == 0:
            numList.append(x)
    return numList


print(PythonList(4, 30))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [132]:
list = []

for i in range(4,30,2):
    list.append(i)
print(list)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [134]:
aList = [4, 6, 8, 24, 12, 2]
aList.sort(reverse=True)
print(aList.pop(0))

24