# Data Structures

In [2]:
"""List     ordered,    changeable,        duplicates
Tuple       ordered ,   unchangeable,      duplicates
set         unordered,  addable/removable, no duplicates
Dictionary  unordered,  changeable,        no duplicate

"""

'List     ordered,    changeable,        duplicates\nTuple       ordered ,   unchangeable,      duplicates\nset         unordered,  addable/removable, no duplicates\nDictionary  unordered,  changeable,        no duplicate\n\n'

In [3]:
L = [1,3,4.9, "name",3]
T = (1,3,4.9, "name",3)
S = {1,3,4.9, "name",3}
D = {23:"twothree", 'B':43, 'C':'CCD'}

In [4]:
print("The type of L is ", type(L))
print("The type of T is ", type(T))
print("The type of S is ", type(S))
print("The type of D is ", type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [5]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
twothree

In [6]:
print(D['B'])

43

In [7]:
S

{1, 3, 4.9, 'name'}

In [8]:
L[1:3]

[3, 4.9]

In [9]:
L[::-1]

[3, 'name', 4.9, 3, 1]

In [10]:
T[:3]

(1, 3, 4.9)

In [11]:
 L

[1, 3, 4.9, 'name', 3]

In [12]:
L = L+ ["how", "are", 6, "you"]

In [13]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you']

In [14]:
L.append(6.8)

In [15]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 6.8]

In [16]:
T2 = ('a', 'b', 45)
T3 = T + T2

In [17]:
T3

(1, 3, 4.9, 'name', 3, 'a', 'b', 45)

In [18]:
S.add(56)

In [19]:
S

{1, 3, 4.9, 56, 'name'}

In [20]:
S.update({23,"game",1})

In [21]:
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [22]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [23]:
D['newkey'] = "newValue"

In [24]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newkey': 'newValue'}

In [25]:
D2 = {"y":"yy", "z":10}

In [26]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 6.8]

In [27]:
del L[3]

In [28]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newkey': 'newValue'}

In [29]:
del D['C']

In [30]:
D

{23: 'twothree', 'B': 43, 'newkey': 'newValue'}

In [31]:
D.update(D2)

In [32]:
D

{23: 'twothree', 'B': 43, 'newkey': 'newValue', 'y': 'yy', 'z': 10}

In [33]:
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [34]:
L2 = L

In [35]:
L2

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [36]:
L2[2] = "four point nine"

In [37]:
L2

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [38]:
L

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [39]:
L2 = L.copy()

In [40]:
L2

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [41]:
L2[2] = 4.9

In [42]:
L2

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [43]:
L

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [44]:
L3 = L[1:5]     # Slices are consider like a copy, they they don't affect the main list

In [45]:
L3

[3, 'four point nine', 3, 'how']

In [46]:
L3[0] = "three"

L3

In [51]:
L

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [52]:
L.reverse()

In [53]:
L

[6.8, 'you', 6, 'are', 'how', 3, 'four point nine', 3, 1]

In [54]:
L[::-1]

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [56]:
D.items()

dict_items([(23, 'twothree'), ('B', 43), ('newkey', 'newValue'), ('y', 'yy'), ('z', 10)])

In [57]:
L

[6.8, 'you', 6, 'are', 'how', 3, 'four point nine', 3, 1]

In [58]:
T

(1, 3, 4.9, 'name', 3)

In [59]:
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [60]:
D

{23: 'twothree', 'B': 43, 'newkey': 'newValue', 'y': 'yy', 'z': 10}

In [61]:
D2 = {'A':L, 'B':T, 'C':S, 'D':D}

In [62]:
D2['A'][3]

'are'

In [63]:
K = D2['D']

In [64]:
K

{23: 'twothree', 'B': 43, 'newkey': 'newValue', 'y': 'yy', 'z': 10}

In [65]:
for x in K:
    print(x,K[x])

23 twothree
B 43
newkey newValue
y yy
z 10

In [66]:
L3 = [L,T,D,23,"game"]

In [67]:
type(L3[2])

dict

In [68]:
L3 = [x**2 for x in range(10)]

In [69]:
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [70]:
S3 = {x**2 for x in range (2,20,3)}

In [71]:
S3

{4, 25, 64, 121, 196, 289}

In [72]:
23 in D

True

In [74]:
43 in D

False

In [81]:
"""Let say you are a teacher and you have different student
records containing id of a studient and the marks list in each subjects
where different students have taken different number of subjects. 
All these records are in hard copy. You want to enter all the data in computer
and want to compute the average marks of each student and display"""


def getDataFromUser():
    D = {}
    while True:
        studentId = input("enter student ID: ")
        marksList = input("enter the marks by comma separated values: ")
        moreStudent = input('Enter "no" to quit insertion:')
        if studentId in D:
            print(studentId, "is already inserted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudent.lower() == "no":
            return D

In [82]:
studentData = getDataFromUser()

enter student ID: 12
enter the marks by comma separated values: 56, 45, 13
Enter "no" to quit insertion:asdf
enter student ID: 45
enter the marks by comma separated values: 44, 55, 65, 76
Enter "no" to quit insertion:asdfa
enter student ID: 12
enter the marks by comma separated values: 45,44
Enter "no" to quit insertion:adf
12 is already inserted
enter student ID: 23
enter the marks by comma separated values: 45,44
Enter "no" to quit insertion:no

In [83]:
studentData

{'12': ['56', ' 45', ' 13'],
 '45': ['44', ' 55', ' 65', ' 76'],
 '23': ['45', '44']}

In [89]:
def getAvgMarks(D) :
    avgMarks = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks

In [90]:
avgM = getAvgMarks(studentData)

In [91]:
avgM

{'12': 38.0, '45': 60.0, '23': 44.5}

In [92]:
for x in avgM :
    print("student : ", x, "got avg Marks as: ", avgM[x])

student :  12 got avg Marks as:  38.0
student :  45 got avg Marks as:  60.0
student :  23 got avg Marks as:  44.5

In [93]:
import numpy as np

In [94]:
a = np.array([1,2,3,4,3,6,7], dtype = 'i')
b = np.array((2,3,5,9), dtype='f')

[1 2 3 4 3 6 7]

In [96]:
type(a)

numpy.ndarray

In [1]:
hour = int(input("What time is it? "))
guard = bool(input("Is the guard there?"))

if 7<=hour<=17:
    print("You're in")
elif 17<hour<7 and guard == True:
    print("You're in")
if guard == False:
    print("you can not get in")

What time is it? 5
Is the guard there?True

In [ ]:


for hour in day:
    hour = int(input("What time is it? "))
    yes = True
    no = False
    if 7<=hour<=17:
      print("You're in")
    else:
      guard = bool(input("Is the guard there?"))
      if 17<hour<7 and guard == yes:
        print("You're in")
      else:
        print("you can not get in")